body {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color: #888;
}

.menu {
	text-align: center;
	padding: 25px;
}

.banner {
	background: url('../img/banner2.jpg');
	height: 200px;
	width: auto;
	margin: 0px auto;
	padding: 45px;
	background-position: center;
	background-size: 100% 100%;
}

.content {
	max-width: 1000px;
	margin: 0px auto;
	padding: 10px;
}

.instagram {
	width: 30px;
	float: center;
	margin-left: 780px;
	margin-right: 10px;
}

.youtube {
	width: 35px;
	float: center;
	margin-left: 90px;
	margin-right: 10px;
}

.footer {
	text-align: center;
	padding: 10px;
}

.counter {
	text-align: center;
}

a {
	color: #888;
}