html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
        height: 100%
	padding: 0px;
	margin: 0px auto;
	font-size: 14px;
	color: #888;
}

.menu {
	text-align: center;
	padding: 25px;
}

.banner {
	background: url('../img/banner2.jpg');
	height: 200px;
	width: auto;
	margin: 0px auto;
	padding: 45px;
	background-position: center;
	background-size: 100% 100%;
}

.content {
	min-height: 100%	
	max-width: 1000px;
	margin: 0px auto;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom:330px;
}

a {
	color: #888;

}

footer nav {
	float: center;
}

footer nav u1 {
}

footer nav u1 li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}

footer nav u1 li a {
	font-family: Lato;
	font-weight: 400;
	font size: 14px;
}

footer {  
	height: 200px;
        width: 100%;
        background-color: #222;
	text-align: center;
}