body {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color: #888;
}

.menu {
	text-align: center;
	padding: 25px;
}

.banner {
	background: url('../img/banner.jpg');
	height: 250px;
	max-width: 100%;
	padding: 25px;
	background-position: center;
	background-size: auto;
}

.content {
	max-width: 1000px;
	margin: 0px auto;
	padding: 10px;
}

.link   {
	text-align: center;
	padding: 10px;
}

.footer {
	text-align: center;
	padding: 10px;
}

a {
	color: #888;
}